/* .logoMain {
  width: auto;
  display: inline-block;
  left: 11.67%;
  position: relative;
} */

@media (max-width: 450px) {
  .integration-section {
    padding: 15px !important;
  }

  .product-statment-text p,
  .product-statement-small-img,
  .integration-text p {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
  }
  div br,
  p br,
  .integration-text br {
    display: none;
  }
  .product-statement-only-text {
    padding: 15px !important;
  }
}

.signInButton {
  border-radius: 40px;
  padding: 12px 46px 12px 46px;
  border-style: hidden;
  background-color: #ed7401;
  color: #ffffff;
}

.why-us-text {
  /* font-size: 32px;
  font-family: "Akzidenz-GroteskPro-Md1"; */
  padding: 60px;
  border-bottom: 1px solid #e2e2e2;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}

@media (max-width: 768px) {
  .why-us-text {
    font-size: 25px;
    text-align: center;
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .why-us-text {
    font-size: 28px;
    text-align: center;
    padding-bottom: 10px;
  }
}

.various-logos {
  padding: 60px;
}

.product-statement {
  background: #f8f8f8 0% 0% no-repeat padding-box;
  opacity: 1;
}

.product-statement-small-img-and-text-text-left {
  display: inline-block;
  -webkit-transform: translateY(40%);
  transform: translateY(40%);
  margin-right: 30px;
}
.product-statement-small-img-and-text-text-right {
  display: inline-block;
  -webkit-transform: translateY(40%);
  transform: translateY(40%);
  margin-left: 30px;
}

@media (max-width: 1200px) {
  .product-statement-small-img-and-text-text-right {
    padding-bottom: 60px;
    -webkit-transform: unset;
    transform: unset;
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    padding: 15px;
  }
  .product-statement-small-img-and-text-text-left {
    display: block;
    -webkit-transform: unset;
    transform: unset;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    padding: 60px 15px 10px 15px;
  }
}

.product-statement-main-img {
  display: inline-block;
}

.product-statement-main-img img {
  max-width: 100%;
  height: 500px;
}

.product-statement-small-img {
  padding-bottom: 30px;
}

/* .product-statment-text p:nth-child(1) {
  font-size: 28px;
  margin-bottom: 24px;
  font-family: "Akzidenz-GroteskPro-Md1";
}
.product-statment-text p:nth-child(2) {
  font-size: 18px;
  font-family: "Helvetica-Neue-Regular";
} */

.productStatement-wrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  position: relative;
}

.product-statement-only-text {
  padding: 60px;
}

.product-statement-only-text p {
  text-align: center;
}

@media (max-width: 768px) {
  .product-statement-only-text p {
    font-size: 18px !important;
  }
}

@media screen and (min-width: 768) and (max-width: 1200px) {
  .product-statement-only-text p {
    font-size: 25px;
  }
}

.text-and-logos {
  background-color: #f8f8f8;
}

.various-logos {
  text-align: center;
}

.integration-logos {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.integration-section {
  background-color: #f8f8f8;
  padding: 66px;
  /* width: 100%; */
}

.integration-items {
  display: inline-block;
}

/* .integration-items p:nth-child(1) {
  font-size: 28px;
  margin-bottom: 24px;
  font-family: "Akzidenz-GroteskPro-Md1";
}
.integration-items p:nth-child(2) {
  font-size: 18px;
  font-family: "Helvetica-Neue-Regular";
} */
.integraion-logo-spacing {
  padding: 47px;
  text-align: center;
}
.integration-text {
  position: relative;
  margin: 0 auto;
  text-align: center;
  color: #373a3c;
}
.integration-text .heading3 {
  font-size: 28px;
  margin-bottom: 24px;
}

@media (max-width: 1600px) {
  .integration-text-section {
    display: block;
    margin: 0 auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .integration-logo-section {
    text-align: center;
  }
}
