.integration-card{
    width: 570px;
    height: 284px;
    .img-part {
        width: 121px;
        height: 31px;
        margin: 30px 0px 30px 30px;
      }
      .body-text{
        padding: 0px 36px 0px 29px;
      }
}