.small-info-card {
  width: 370px;
  height: 251px;
 
  .heading1 {
    text-align: center;
    padding: 48px 135px 24px 137px;
  }
  .heading3 {
    text-align: center;
    padding: 0px 3px 47px 3px;
  }
}
